---
import ComponentWrapper from 'src/components/Wrapper.astro';
import {getPageStrapi} from 'src/api/procedures/cms/creators/page';
const { slug } = Astro.params;
const { lang } = Astro.params;
import MainHeaderStrapi from 'src/components/MainHeaderStrapi.astro';
import {getBreadCrumbsStrapi} from 'src/api/procedures/cms/helpers/global';
import Breadcrumbs from 'src/components/Breadcrumbs.astro';
import Footer from 'src/components/Footer.astro';

if(!slug || !lang){
    return Astro.redirect('/404')
}
const page = await getPageStrapi({input: slug!, lang: lang!});
if(!page){
    return Astro.redirect('/404')
}

const breadCrumbs = await getBreadCrumbsStrapi(slug, lang, true);

---
{page &&
<html lang={lang}>
    <head>
        <title>{page.title!}</title>
        <meta charset="UTF-8">
        <meta name="description" content="Aquafin poc" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    </head>
    <body>
        <MainHeaderStrapi lang={page.lang} ssr={true}></MainHeaderStrapi>
        <main class="mt-[144px]">
            <Breadcrumbs breadCrumbs={breadCrumbs}></Breadcrumbs>
            { page.components &&
                    <Fragment>
                        {page.components.map((component)=>{
                            return <ComponentWrapper component={component}></ComponentWrapper>
                        })}
                    </Fragment>
            }
        </main>
        <Footer></Footer>
    </body>
</html>
    }


<style is:global lang="scss">
    :root {
        --primary-color: #f1667b;
    }

  article {
    &:nth-of-type(odd){
      background: #EFEFEF;
    }
    &:nth-of-type(even){
      background: white;
    }
  }
</style>