---
import ComponentWrapper from 'src/components/Wrapper.astro';
import {type Page} from 'src/api/procedures/cms/types';
import {getAllPagesDrupal} from 'src/api/procedures/cms/creators/page';
import {getBreadCrumbsDrupal} from 'src/api/procedures/cms/helpers/global';
import Breadcrumbs from 'src/components/Breadcrumbs.astro';
import MainHeaderDrupal from 'src/components/MainHeaderDrupal.astro';
import Footer from 'src/components/Footer.astro';

export const prerender = true;
export async function getStaticPaths() {
    const pages = await getAllPagesDrupal();
    return pages.map((page) => ({
        params: { slug: page.slug },
        props: page,
    }));
}

const page: Page = Astro.props;
const breadCrumbs = await getBreadCrumbsDrupal(page.lang, page.slug, false)
---
<html lang={page.lang}>
    <head>
        <title>{page.title}</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"> 
    </head>
    <body>
        <MainHeaderDrupal lang={page.lang} ssr={false}></MainHeaderDrupal>
        <main class="mt-[144px]">
            <Breadcrumbs breadCrumbs={breadCrumbs}></Breadcrumbs>
            {page.components.map((component)=>{
                return <ComponentWrapper component={component}></ComponentWrapper>
            })}
        </main>
        <Footer></Footer>
    </body>
</html>

<style is:global lang="scss">
    :root {
        --primary-color: #4bb8f4;
    }

    article {
        &:nth-of-type(odd){
            background: #EFEFEF;
        }
        &:nth-of-type(even){
            background: white;
        }
    }
</style>