---
import {type BannerVideo} from "../models/components/bannerVideo/bannerVideo.interface";
interface Props {
    props: BannerVideo;
}

const {props} = Astro.props;

---
<article class="banner-video grid grid-cols-2 w-full">
    <div class="flex align-top py-10 px-[90px] top-0">
        <div>
            <h3 class="text-[30px] mb-2 font-semibold">{props.title}</h3>
            <Fragment set:html={props.description}></Fragment>
        </div>
    </div>
    <div class="h-[425px] w-full shadow-2xl">
        <!-- shouldn't the creation of the url be in the model instead of the component itself? -->
        <!-- should it be possible to also provide a link to another source then youtube? -->
        <iframe
                title={props.title}
                src={`//www.youtube.com/embed/${props.getVideoId()}`}
                class="h-full w-full">
        </iframe>
    </div>

</article>

<style lang="scss" is:inline>
  .banner-video {
    p {
      color: rgb(74, 74, 74);
      font-weight: 400;
      font-size: 18px;
    }
    h3 {
      color: rgb(10, 19, 54);
    }
    ul {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    li {
      font-size: 18px;
      color: #4A4A4A;
      margin-left: 30px;
      list-style-type: circle;
    }

    li > p {
      margin-left: 16px;
    }

    strong {
      font-weight: 700;
    }
  }
</style>