---
import {type BannerTiles} from 'src/api/procedures/cms/types';
import {getUrl} from 'src/api/procedures/cms/helpers/global';
interface Props {
    bannerTiles: BannerTiles;
}

const {bannerTiles} = Astro.props;


---

<article class="px-[90px] py-[40px]">
    <div class="teasers">
        {bannerTiles.tiles.map((tile)=>{
            return  <div class="teaser teaser--with-title ">
                        <div class="teaser--blog-image-container">
                            <img alt={tile.image?.name} src={tile.image?.url} width="900" height="500">
                        </div>
                        <div class="teaser--title">
                            <h3>{tile.title}</h3>
                            <div class="arrow-wrapper">
                                <span class="arrow"></span>
                            </div>
                        </div>
                        <a aria-label={tile.buttonText} class="teaser--link no-button" href={getUrl(Astro.url.pathname)+tile.url}>
                            <span class="link"></span>
                        </a>
                    </div>
        })}
    </div>

</article>

<script>
    const buttons = document.querySelectorAll(
        "[data-bannertiles-redirect-url]"
    ) as NodeListOf<HTMLElement>;

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            const url = button.getAttribute("data-bannertiles-redirect-url") as string;
            location.href = url;
        });
    });
</script>

<style lang="scss">
    .teasers {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        display: grid;
        flex-wrap: wrap;
        gap: 20px 20px;
        grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    }
    
    .arrow-wrapper {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
      position: relative;
      width: 50px;
    }
    .arrow {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      font-family: 'Source Sans Pro',sans-serif;
      font-weight: 400;
      color: #4a4a4a;
      font-size: 16px;
      line-height: normal;
      box-sizing: border-box;
    }
    
    
    .arrow::before{
      transition: all .6s ease-in-out;
      position: absolute;
      top: 50%;
      right: 10px;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: var(--primary-color);
      transform: translateY(-50%);
    }
    .arrow::after{
      position: absolute;
      top: 50%;
      right: 10px;
      height: 20px;
      width: 18px;
      content: '';
      display: inline-block;
      transform: translateY(-50%);
      background-image: url('/icons/arrow.svg');
      background-repeat: no-repeat;
      background-size: 7px 12px;
      background-position: center center;
      transition: all .6s ease-in-out;
    }
    .teaser{
      &--link{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        
        > .link{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          
          &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }
      }
      &--title{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        padding: 0 24px;
        
        > h3 {
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          box-sizing: border-box;
          margin: 0;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 600;
          font-size: 24px;
          line-height: 120%;
          color: #fff;
          padding: 20px;
          width: 100%;
        }
      }
      &--with-title{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        background-color: #f2f2f2;
        flex: 1 0 30%;
        overflow: hidden;
      }
      
      &--title{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        padding: 0 24px;
      }
      
      &--blog-image-container{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        position: relative;
        height: 400px;
        
        > img {
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          aspect-ratio: auto 900 / 500;
          box-sizing: border-box;
          border: 0;
          object-fit: cover;
          height: 100%;
          width: auto;
          transition: all .6s ease-in-out;
        }
      }
    }
    .teaser--blog-image-container::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.14%, rgba(0, 0, 0, 0.5) 87.85%);
    }
</style>