---
import {Banner5050} from 'src/api/procedures/cms/types';
interface Props {
    banner5050: Banner5050
}

const {banner5050} = Astro.props;

const leftImage = `url(${banner5050.buttons[0].image.url})`;
const rightImage = `url(${banner5050.buttons[1].image.url})`;
---

<article class="content--paragraph-buttonbanner-group">
    {banner5050.buttons.map((button,index)=>{
        return (
                <div class="content--paragraph-item-wrapper">
                    <div class={`content--paragraph-buttonbanner dark left button-banner-group-item content--paragraph-buttonbanner-${index}`} >
                        <h4>{button.title}</h4>
                        {button.description && button.description !== '' &&
                                <div class="content--paragraph-buttonbanner-description">
                                    <p>{button.description}</p>
                                </div>
                        }
                        {button.url &&
                                <div class="content--paragraph-buttonbanner-button">
                                    <a href={button.url}>{button.buttonText}</a>
                                </div>
                        }
                    </div>
                </div>
        )
    })}
</article>


<style lang="scss" define:vars={{ leftImage, rightImage }}>
  
    .content{
      
      &--paragraph{
        &-item-wrapper{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          flex: 50;
          margin: 0;
        }
        
        &-buttonbanner{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          color: #4a4a4a;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          background-color: #0a1336;
          align-items: flex-start;
          margin: 0;
          height: 100%;



          
          &-0{
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--leftImage);
          }
          
          &-1{
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--rightImage);
          }
          
          &-button{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            padding-top: 10px;
            display: flex;
            position: relative;
            justify-content: left;
            
            > a {
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              font-size: 16px;
              line-height: normal;
              box-sizing: border-box;
              font-family: 'Source Sans Pro',sans-serif;
              font-weight: 400;
              position: relative;
              margin: 0;
              padding: 14px 32px 14px 16px;
              background-color: #4bb8f4;
              border-radius: 4px;
              text-decoration: none;
              transition: width 200ms linear,padding-right 200ms linear;
              white-space: nowrap;
              color: #fff;
              border: none;
              
              &::before{
                position: absolute;
                top: 50%;
                right: 10px;
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 10px;
                background-color: transparent;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                transition: background-color 0.2s linear;
              }
              
              &::after{
                position: absolute;
                top: 50%;
                right: 10px;
                height: 20px;
                width: 18px;
                content: '';
                display: inline-block;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                transition: background-image 0.2s linear;
                background-image: url('/icons/arrow-right-white.svg');
                background-repeat: no-repeat;
                background-size: 7px 12px;
                background-position: center center;
              }
            }
          }
          
          > h4 {
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            line-height: normal;
            box-sizing: border-box;
            margin: 0;
            font-family: 'Source Sans Pro',sans-serif;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 5px;
            color: #fff;
            text-align: left;
          }
          
          &-group{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            margin: 30px 90px 30px 90px;
            flex-direction: row;
          }
          
          &-description{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: 100%;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 400;
            color: #4a4a4a;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            justify-content: left;
            
            > p {
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -webkit-text-size-adjust: 100%;
              box-sizing: border-box;
              font-family: 'Source Sans Pro',sans-serif;
              line-height: 1.813rem;
              margin: 0;
              font-size: 14px;
              font-weight: 400;
              color: #fff;
              text-align: left;
            }
          }
        }
      }
    }
</style>