---
import {BannerCards, CMSType} from 'src/api/procedures/cms/types';
interface Props {
    bannerCards: BannerCards;
}

const {bannerCards} = Astro.props;
function getImageUrl(url: string){
    if(bannerCards.CMSType === CMSType.STRAPI){
        return import.meta.env.STRAPI_URL.concat(url);
    }
    else{
        return url;
    }
}
---

<article class="flex gap-[20px] flex-row justify-between px-[90px] py-[40px]">
    {bannerCards.cards.map((card)=>{
        return  <div class="flex flex-col justify-between w-full shadow-sm">
                    <div class="text-[#4A4A4A]">
                        <div class="h-[350px] w-full overflow-hidden">
                            <img class="h-full object-cover object-left" src={getImageUrl(card.image.url)}>
                        </div>

                        <h3 class="font-semibold text-[24px] px-[24px] pt-[24px] mb-[10px]">{card.title}</h3>
                        <p class="text-[18px] mb-[16px] px-[24px]">{card.description}</p>
                    </div>
                    <div>
                        <button data-bannercards-redirect-url={card.url}
                                class="text-start ml-[24px] h-[92px] text-[#4bb8f4]"
                        >
                            Lees meer >
                        </button>
                    </div>
                    
                </div>
    })}
</article>

<script>
    const buttons = document.querySelectorAll(
        "[data-bannercards-redirect-url]"
    ) as NodeListOf<HTMLElement>;

    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            const url = button.getAttribute("data-bannercards-redirect-url") as string;
            location.href = url;
        });
    });
</script>