---
import {type BannerVideo} from "../models/components/bannerVideo/bannerVideo.interface";
import {YouTube} from 'astro-lazy-youtube-embed';
interface Props {
    props: BannerVideo;
}

function getId(url:string) {
    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);
    
    return (match && match[2].length === 11) ? match[2] : url;
}

const {props} = Astro.props;

---
<article class="banner-video grid grid-cols-2 w-full">
    <div class="flex align-top py-10 px-[90px] top-0">
        <div>
            <h3 class="text-[30px] mb-2 font-semibold">{props.title}</h3>
            <Fragment set:html={props.description}></Fragment>
        </div>
    </div>
    <div class="h-[425px] w-full shadow-2xl">
        <!-- shouldn't the creation of the url be in the model instead of the component itself? -->
        <!-- should it be possible to also provide a link to another source then youtube? -->
        <div class="h-[425px] w-full shadow-2xl">
            {getId(props.url) !== null &&
                    <YouTube
                            title={props.title}
                            videoId={getId(props.url)!}
                    />
            }

        </div>
    </div>

</article>

<style lang="scss" is:inline>
  .banner-video {
    p {
      color: rgb(74, 74, 74);
      font-weight: 400;
      font-size: 18px;
    }
    h3 {
      color: rgb(10, 19, 54);
    }
    ul {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    li {
      font-size: 18px;
      color: #4A4A4A;
      margin-left: 30px;
      list-style-type: circle;
    }

    li > p {
      margin-left: 16px;
    }

    strong {
      font-weight: 700;
    }
  }
</style>