---
import {Alignment, FullWidthBanner} from 'src/api/procedures/cms/types';
interface Props {
    fullWidthBanner: FullWidthBanner
}

const {fullWidthBanner} = Astro.props;

const buttonAlignment = fullWidthBanner.alignment === Alignment.LEFT ? 'start' : fullWidthBanner.alignment === Alignment.RIGHT? 'end' : 'center';
const imageUrl = `url(${fullWidthBanner.image})`
---

<div class="content--paragraph-buttonbanner center with-image" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.aquafin.be/sites/aquafin/files/styles/header/public/2023-09/afbeelding%20voor%20button%20banner%202%20%281650%20x%20450%20px%29_0.png?h=640c729a&amp;itok=9UP9Zg2X);">
    <h1 class={`text-${fullWidthBanner.alignment}`}>{fullWidthBanner.title}</h1>
    {fullWidthBanner.description && fullWidthBanner.description !== '' &&
            <div class={`text-${fullWidthBanner.alignment} content--paragraph-buttonbanner-description`}>
                <p>Een kijkje op een rioolwaterzuiveringsinstallatie, een werf en op onze Campus Aquafin</p>
            </div>
    }
    <div class={`self-${buttonAlignment} content--paragraph-buttonbanner-button`} >
        <a href={fullWidthBanner.link}>{fullWidthBanner.buttonText}</a>
    </div>
</div>

<style define:vars={{ imageUrl }} lang="scss">
    .content{
      &--paragraph-buttonbanner{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #f2f2f2;
        padding: 70px 20px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--imageUrl);

        >h1{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          box-sizing: border-box;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 600;
          line-height: 120%;
          color: #fff;
          font-size: 56px;
          padding-bottom: 12px;
        }
      }
      
      &--paragraph-buttonbanner-description{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        
        >p{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          box-sizing: border-box;
          font-family: 'Source Sans Pro',sans-serif;
          line-height: 1.813rem;
          padding: 12px 0;
          font-size: 20px;
          font-weight: 400;
          color: #fff;
        }
      }
      
      &--paragraph-buttonbanner-button{
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        position: relative;
        padding-top: 12px;
        
        >a{
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          -webkit-text-size-adjust: 100%;
          font-size: 16px;
          line-height: normal;
          box-sizing: border-box;
          font-family: 'Source Sans Pro',sans-serif;
          font-weight: 400;
          position: relative;
          margin: 0;
          padding: 14px 32px 14px 16px;
          background-color: #4bb8f4;
          border-radius: 4px;
          text-decoration: none;
          transition: width 200ms linear,padding-right 200ms linear;
          white-space: nowrap;
          color: #fff;
          border: none;
          
          &::before{
            position: absolute;
            top: 50%;
            right: 10px;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: transparent;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: background-color 0.2s linear;
          }
          
          &::after{
            position: absolute;
            top: 50%;
            right: 10px;
            height: 20px;
            width: 18px;
            content: '';
            display: inline-block;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: background-image 0.2s linear;
            background-image: url('/icons/arrow-right-white.svg');
            background-repeat: no-repeat;
            background-size: 7px 12px;
            background-position: center center;
          }
        }
      }
    }
</style>