---
import type {ISharedVideoBlock} from 'src/api/interfaces/CMSInterfaces';
interface Props {
    sharedVideoBlock: ISharedVideoBlock;
}

const {sharedVideoBlock} = Astro.props;

function getId(url:string) {
    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);

    return (match && match[2].length === 11) ? match[2] : null;
}
---

<article class="grid grid-cols-2 h-[425px] w-full bg-gray-200">
    <div class="py-10 px-[90px] my-auto">
        <h3 class="text-2xl mb-2">{sharedVideoBlock.title}</h3>
        <Fragment set:html={sharedVideoBlock.description}></Fragment>
    </div>
    <iframe title={sharedVideoBlock.title} src={`//www.youtube.com/embed/${getId(sharedVideoBlock.url)}`} class="h-full w-full"></iframe>
</article>

